body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

input, textarea{
    width: 250px;
}

.tooltip{
    position: absolute;
    border-bottom: 1px dotted black;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext{
    visibility: hidden;
    background-color: black;
    color: white;
    padding: 5px 0;
    text-align: center;
    border-radius: 6px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
